In [297]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline
import pandas_profiling as pp
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob
import json
import folium
import squarify
from datetime import date
import datetime
import re
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
import regex
import random
from sklearn.utils import shuffle
from datetime import date
import datetime
pd.options.display.max_columns = 100

In [298]:
df =  pd.read_csv(r"N:\CLIX\Perfios\Perfios_rawdata_complete.csv",encoding='latin-1')
df3 = df[df['TransDate'] <= df['enddate']] 
df = df3[df3['TransDate'] >= df3['startdate']]
df['startdate']=pd.to_datetime(df['startdate'],unit ='s')
df['enddate']=pd.to_datetime(df['enddate'],unit = 's')
df['TransDate']=pd.to_datetime(df['TransDate'],unit = 's')
df['Year'] = pd.DatetimeIndex(df['TransDate']).year
df['Month'] = pd.DatetimeIndex(df['TransDate']).month
df['Day'] = pd.DatetimeIndex(df['TransDate']).day
df["Credited"] = df.Amount.where(df.Amount > 0, 0)
df["Debited"] = -1 * df.Amount.where(df.Amount < 0, 0) 
df['Debited'] = df['Debited'].abs()
df['Balance'] = df['Balance'].abs()

In [299]:
df = df.sort_values(['userid','TransDate','BankNarrationtId'],ascending= True)
df_1 = df.groupby(['userid','TransDate','BankAccountId'])['Debited','Credited'].sum()
df_1 = pd.DataFrame(df_1)
df_1 = df_1.reset_index()

In [300]:
df_4 = df.groupby(['userid','TransDate','BankAccountId'])['BankNarrationtId'].min()
df_4 = pd.DataFrame(df_4)
df_4 = df_4.reset_index()

In [301]:
df_5 = df.groupby(['userid','TransDate','BankAccountId'])['BankNarrationtId'].max()
df_5 = pd.DataFrame(df_5)
df_5 = df_5.reset_index()

In [302]:
#df_5 = pd.merge(df_1,df_5,on = ['userid','TransDate'],how = 'left')

In [303]:
df_5 = pd.merge(df_5,df[['userid','TransDate','BankNarrationtId','Balance','BankAccountId']],how = 'left',on = ['userid','TransDate','BankNarrationtId','BankAccountId'])

In [304]:
df_4 = pd.merge(df_4,df[['userid','TransDate','BankNarrationtId','Balance','BankAccountId']],how = 'left',on = ['userid','TransDate','BankNarrationtId','BankAccountId'])

In [305]:
df_6 = pd.merge(df_4,df_5,how = 'left',on = ['userid','TransDate','BankAccountId'])
df_6.rename(columns = {"BankNarrationtId_x": "BankNarrationtId_start","BankNarrationtId_y": "BankNarrationtId_end","Balance_y":"Day_end_Balance","Balance_x":"Day_start_Balance"}, inplace = True)

In [306]:
df_6

,userid,TransDate,BankAccountId,BankNarrationtId_start,Day_start_Balance,BankNarrationtId_end,Day_end_Balance
0,4685,2016-10-01,170,14871,24805.97,14876,16305.97
1,4685,2016-10-01,171,14722,12666.94,14726,2166.94
2,4685,2016-10-02,170,14877,16300.22,14877,16300.22
3,4685,2016-10-02,171,14727,1836.94,14728,813.94
4,4685,2016-10-03,170,14878,7223.22,14881,6595.22
5,4685,2016-10-03,171,14729,0.94,14731,0.94
6,4685,2016-10-04,170,14882,6589.47,14883,5089.47
7,4685,2016-10-05,170,14884,89.47,14884,89.47
8,4685,2016-10-06,170,14885,83.72,14887,283.72
9,4685,2016-10-07,170,14888,49583.72,14893,21667.02
10,4685,2016-10-07,171,14732,10000.94,14734,3692.94
11,4685,2016-10-08,170,14894,21661.27,14895,17062.27
12,4685,2016-10-08,171,14735,2692.94,14737,4768.94
13,4685,2016-10-09,171,14738,4448.94,14740,3416.74
14,4685,2016-10-10,170,14896,5062.27,14899,5078.27
15,4685,2016-10-10,171,14741,16.74,14744,0.74
16,4685,2016-10-13,170,14900,3978.27,14906,2773.27
17,4685,2016-10-14,170,14907,2767.52,14912,405.27
18,4685,2016-10-14,171,14745,2000.74,14748,11494.99
19,4685,2016-10-15,171,14749,4994.99,14758,4494.99
20,4685,2016-10-16,171,14759,4489.24,14761,4030.49
21,4685,2016-10-17,170,14913,18405.27,14917,19655.97
22,4685,2016-10-17,171,14762,30.49,14772,5905.14
23,4685,2016-10-18,170,14918,12855.97,14918,12855.97
24,4685,2016-10-18,171,14773,12705.14,14777,705.14
25,4685,2016-10-19,170,14919,8855.97,14920,10872.79
26,4685,2016-10-19,171,14778,4705.14,14779,182.14
27,4685,2016-10-20,170,14921,13872.79,14923,9809.17
28,4685,2016-10-21,170,14924,9803.42,14927,24178.42
29,4685,2016-10-22,170,14928,178.42,14928,178.42
...,...,...,...,...,...,...,...
57217,696624,2017-07-17,2082,188005,387.21,188005,387.21
57218,696624,2017-07-18,2082,188006,327.21,188008,277.21
57219,696624,2017-07-19,2082,188009,257.21,188011,257.21
57220,696624,2017-07-20,2082,188012,1257.21,188014,157.21
57221,696624,2017-07-24,2082,188015,2657.21,188019,135.21
57222,696624,2017-07-25,2082,188020,283.21,188020,283.21
57223,696624,2017-07-27,2082,188021,233.21,188022,164.21
57224,696624,2017-07-29,2082,188023,61.21,188023,61.21
57225,696624,2017-07-31,2082,188024,1.21,188029,10589.21
57226,697295,2017-05-01,2081,187868,11083.21,187870,60.21
57227,697295,2017-05-04,2081,187871,0.00,187871,0.00
57228,697295,2017-05-19,2081,187872,40613.00,187877,22420.00
57229,697295,2017-05-20,2081,187878,12420.00,187879,5420.00
57230,697295,2017-05-22,2081,187880,1420.00,187882,0.00
57231,697295,2017-05-31,2081,187883,1246.00,187888,37.00
57232,697295,2017-06-01,2081,187889,24971.00,187896,8471.00
57233,697295,2017-06-02,2081,187897,471.00,187897,471.00
57234,697295,2017-06-03,2081,187898,68.50,187898,68.50
57235,697295,2017-06-05,2081,187899,0.00,187899,0.00
57236,697295,2017-06-14,2081,187900,41034.00,187908,21522.71
57237,697295,2017-06-15,2081,187909,1522.71,187910,1322.71
57238,697295,2017-06-16,2081,187911,99.71,187912,49.71
57239,697295,2017-06-29,2081,187913,60.71,187913,60.71
57240,697295,2017-06-30,2081,187914,26329.71,187915,329.71
57241,697295,2017-07-03,2081,187916,129.71,187918,9.71
57242,697295,2017-07-06,2081,187919,29.71,187919,29.71
57243,697295,2017-07-11,2081,187920,31.21,187920,31.21
57244,697295,2017-07-19,2081,187921,281.21,187921,281.21
57245,697295,2017-07-20,2081,187922,31.21,187922,31.21
57246,697295,2017-07-28,2081,187923,6.21,187925,1.71

In [307]:
df_dummy = df.iloc[:,[2,3,4,10]]
df_dummy = df_dummy.drop_duplicates()
df_dummy

        userid  startdate    enddate  BankAccountId
3495      4685 2016-10-01 2016-12-31            171
3472      4685 2016-10-01 2016-12-31            170
2713      9093 2016-10-01 2016-12-31            149
4340     10982 2017-04-01 2017-06-30           1697
223      17123 2017-07-01 2017-09-30           1992
4647     22062 2017-03-01 2017-05-31           1241
3754     23167 2017-02-01 2017-04-30           1056
5598     23693 2016-12-01 2017-02-28            653
208      28126 2016-10-01 2016-12-31            153
174      28382 2017-02-01 2017-04-30           1117
3772     34240 2016-11-01 2017-01-31            471
4447     34337 2016-12-01 2017-02-28            834
7533     38874 2017-02-01 2017-04-30           1156
3788     41916 2017-03-01 2017-05-31           1392
7845     43733 2017-03-01 2017-05-31           1254
4987     58688 2016-11-01 2017-01-31            291
7976     67675 2017-02-01 2017-04-30           1223
9728     69086 2017-04-01 2017-06-30           1687
57       72310 2016-10-01 2016-12-31            121
3859     73289 2017-04-01 2017-06-30           1729
8050     74104 2016-12-01 2017-02-28            771
455      75338 2016-11-01 2017-01-31            502
4819     75338 2016-11-01 2017-01-31            503
4821     76240 2017-03-01 2017-05-31           1599
5066     76240 2017-03-01 2017-05-31           1598
3908     81152 2017-04-01 2017-06-30           1978
517      83100 2017-04-01 2017-06-30           1607
6189     86148 2016-10-01 2016-12-31            147
54728    90325 2017-02-01 2017-04-30           1135
3955     90347 2016-11-01 2017-01-31            145
...        ...        ...        ...            ...
143916  678819 2017-04-01 2017-06-30           2020
166417  678927 2017-04-01 2017-06-30           2023
157527  679171 2017-04-01 2017-06-30           2025
166431  679171 2017-04-01 2017-06-30           2026
154576  679894 2017-05-01 2017-07-31           2029
166448  681090 2017-04-01 2017-06-30           2032
160804  681822 2017-04-01 2017-07-31           2034
166648  682463 2017-05-01 2017-07-31           2067
154658  682490 2017-04-01 2017-07-31           2037
126265  682793 2017-05-01 2017-07-31           2073
144047  683075 2017-04-01 2017-07-31           2044
160762  683795 2017-04-01 2017-07-31           2039
160603  684839 2017-04-01 2017-07-31           2042
157658  686670 2017-05-01 2017-07-31           2049
166752  686670 2017-05-01 2017-07-31           2050
157662  688111 2017-05-01 2017-07-31           2051
163644  689231 2017-05-01 2017-07-31           2053
151321  689705 2017-05-01 2017-07-31           2054
157678  689928 2017-05-01 2017-07-31           2055
160877  690315 2017-05-01 2017-07-31           2058
154729  692232 2017-05-01 2017-07-31           2070
151433  692460 2017-05-01 2017-07-31           2066
157788  693258 2017-05-01 2017-07-31           2064
166759  693384 2017-05-01 2017-07-31           2074
161005  693384 2017-05-01 2017-07-31           2075
166856  695642 2017-05-01 2017-07-31           2076
161011  695814 2017-05-01 2017-07-31           2078
151555  696301 2017-05-01 2017-07-31           2089
154776  696624 2017-05-01 2017-07-31           2082
145846  697295 2017-05-01 2017-07-31           2081

[1493 rows x 4 columns]

In [308]:
func = lambda x: pd.date_range(x.startdate, x.enddate).to_series()

In [309]:
df_dummy = df_dummy.set_index(['userid', 'BankAccountId'])

In [310]:
df_dummy

                      startdate    enddate
userid BankAccountId
4685   171           2016-10-01 2016-12-31
       170           2016-10-01 2016-12-31
9093   149           2016-10-01 2016-12-31
10982  1697          2017-04-01 2017-06-30
17123  1992          2017-07-01 2017-09-30
22062  1241          2017-03-01 2017-05-31
23167  1056          2017-02-01 2017-04-30
23693  653           2016-12-01 2017-02-28
28126  153           2016-10-01 2016-12-31
28382  1117          2017-02-01 2017-04-30
34240  471           2016-11-01 2017-01-31
34337  834           2016-12-01 2017-02-28
38874  1156          2017-02-01 2017-04-30
41916  1392          2017-03-01 2017-05-31
43733  1254          2017-03-01 2017-05-31
58688  291           2016-11-01 2017-01-31
67675  1223          2017-02-01 2017-04-30
69086  1687          2017-04-01 2017-06-30
72310  121           2016-10-01 2016-12-31
73289  1729          2017-04-01 2017-06-30
74104  771           2016-12-01 2017-02-28
75338  502           2016-11-01 2017-01-31
       503           2016-11-01 2017-01-31
76240  1599          2017-03-01 2017-05-31
       1598          2017-03-01 2017-05-31
81152  1978          2017-04-01 2017-06-30
83100  1607          2017-04-01 2017-06-30
86148  147           2016-10-01 2016-12-31
90325  1135          2017-02-01 2017-04-30
90347  145           2016-11-01 2017-01-31
...                         ...        ...
678819 2020          2017-04-01 2017-06-30
678927 2023          2017-04-01 2017-06-30
679171 2025          2017-04-01 2017-06-30
       2026          2017-04-01 2017-06-30
679894 2029          2017-05-01 2017-07-31
681090 2032          2017-04-01 2017-06-30
681822 2034          2017-04-01 2017-07-31
682463 2067          2017-05-01 2017-07-31
682490 2037          2017-04-01 2017-07-31
682793 2073          2017-05-01 2017-07-31
683075 2044          2017-04-01 2017-07-31
683795 2039          2017-04-01 2017-07-31
684839 2042          2017-04-01 2017-07-31
686670 2049          2017-05-01 2017-07-31
       2050          2017-05-01 2017-07-31
688111 2051          2017-05-01 2017-07-31
689231 2053          2017-05-01 2017-07-31
689705 2054          2017-05-01 2017-07-31
689928 2055          2017-05-01 2017-07-31
690315 2058          2017-05-01 2017-07-31
692232 2070          2017-05-01 2017-07-31
692460 2066          2017-05-01 2017-07-31
693258 2064          2017-05-01 2017-07-31
693384 2074          2017-05-01 2017-07-31
       2075          2017-05-01 2017-07-31
695642 2076          2017-05-01 2017-07-31
695814 2078          2017-05-01 2017-07-31
696301 2089          2017-05-01 2017-07-31
696624 2082          2017-05-01 2017-07-31
697295 2081          2017-05-01 2017-07-31

[1493 rows x 2 columns]

In [311]:
y = df_dummy.apply(func,axis=1)
y

                     2016-08-01 2016-08-02 2016-08-03 2016-08-04 2016-08-05  \
userid BankAccountId
4685   171                  NaT        NaT        NaT        NaT        NaT
       170                  NaT        NaT        NaT        NaT        NaT
9093   149                  NaT        NaT        NaT        NaT        NaT
10982  1697                 NaT        NaT        NaT        NaT        NaT
17123  1992                 NaT        NaT        NaT        NaT        NaT
22062  1241                 NaT        NaT        NaT        NaT        NaT
23167  1056                 NaT        NaT        NaT        NaT        NaT
23693  653                  NaT        NaT        NaT        NaT        NaT
28126  153                  NaT        NaT        NaT        NaT        NaT
28382  1117                 NaT        NaT        NaT        NaT        NaT
34240  471                  NaT        NaT        NaT        NaT        NaT
34337  834                  NaT        NaT        NaT        NaT        NaT
38874  1156                 NaT        NaT        NaT        NaT        NaT
41916  1392                 NaT        NaT        NaT        NaT        NaT
43733  1254                 NaT        NaT        NaT        NaT        NaT
58688  291                  NaT        NaT        NaT        NaT        NaT
67675  1223                 NaT        NaT        NaT        NaT        NaT
69086  1687                 NaT        NaT        NaT        NaT        NaT
72310  121                  NaT        NaT        NaT        NaT        NaT
73289  1729                 NaT        NaT        NaT        NaT        NaT
74104  771                  NaT        NaT        NaT        NaT        NaT
75338  502                  NaT        NaT        NaT        NaT        NaT
       503                  NaT        NaT        NaT        NaT        NaT
76240  1599                 NaT        NaT        NaT        NaT        NaT
       1598                 NaT        NaT        NaT        NaT        NaT
81152  1978                 NaT        NaT        NaT        NaT        NaT
83100  1607                 NaT        NaT        NaT        NaT        NaT
86148  147                  NaT        NaT        NaT        NaT        NaT
90325  1135                 NaT        NaT        NaT        NaT        NaT
90347  145                  NaT        NaT        NaT        NaT        NaT
...                         ...        ...        ...        ...        ...
678819 2020                 NaT        NaT        NaT        NaT        NaT
678927 2023                 NaT        NaT        NaT        NaT        NaT
679171 2025                 NaT        NaT        NaT        NaT        NaT
       2026                 NaT        NaT        NaT        NaT        NaT
679894 2029                 NaT        NaT        NaT        NaT        NaT
681090 2032                 NaT        NaT        NaT        NaT        NaT
681822 2034                 NaT        NaT        NaT        NaT        NaT
682463 2067                 NaT        NaT        NaT        NaT        NaT
682490 2037                 NaT        NaT        NaT        NaT        NaT
682793 2073                 NaT        NaT        NaT        NaT        NaT
683075 2044                 NaT        NaT        NaT        NaT        NaT
683795 2039                 NaT        NaT        NaT        NaT        NaT
684839 2042                 NaT        NaT        NaT        NaT        NaT
686670 2049                 NaT        NaT        NaT        NaT        NaT
       2050                 NaT        NaT        NaT        NaT        NaT
688111 2051                 NaT        NaT        NaT        NaT        NaT
689231 2053                 NaT        NaT        NaT        NaT        NaT
689705 2054                 NaT        NaT        NaT        NaT        NaT
689928 2055                 NaT        NaT        NaT        NaT        NaT
690315 2058                 NaT        NaT        NaT        NaT        NaT
692232 2070                 NaT        NaT        NaT        NaT        NaT
692460 2066                 NaT        NaT        NaT        NaT        NaT
693258 2064                 NaT        NaT        NaT        NaT        NaT
693384 2074                 NaT        NaT        NaT        NaT        NaT
       2075                 NaT        NaT        NaT        NaT        NaT
695642 2076                 NaT        NaT        NaT        NaT        NaT
695814 2078                 NaT        NaT        NaT        NaT        NaT
696301 2089                 NaT        NaT        NaT        NaT        NaT
696624 2082                 NaT        NaT        NaT        NaT        NaT
697295 2081                 NaT        NaT        NaT        NaT        NaT

                     2016-08-06 2016-08-07 2016-08-08 2016-08-09 2016-08-10  \
userid BankAccountId
4685   171                  NaT        NaT        NaT        NaT        NaT
       170                  NaT        NaT        NaT        NaT        NaT
9093   149                  NaT        NaT        NaT        NaT        NaT
10982  1697                 NaT        NaT        NaT        NaT        NaT
17123  1992                 NaT        NaT        NaT        NaT        NaT
22062  1241                 NaT        NaT        NaT        NaT        NaT
23167  1056                 NaT        NaT        NaT        NaT        NaT
23693  653                  NaT        NaT        NaT        NaT        NaT
28126  153                  NaT        NaT        NaT        NaT        NaT
28382  1117                 NaT        NaT        NaT        NaT        NaT
34240  471                  NaT        NaT        NaT        NaT        NaT
34337  834                  NaT        NaT        NaT        NaT        NaT
38874  1156                 NaT        NaT        NaT        NaT        NaT
41916  1392                 NaT        NaT        NaT        NaT        NaT
43733  1254                 NaT        NaT        NaT        NaT        NaT
58688  291                  NaT        NaT        NaT        NaT        NaT
67675  1223                 NaT        NaT        NaT        NaT        NaT
69086  1687                 NaT        NaT        NaT        NaT        NaT
72310  121                  NaT        NaT        NaT        NaT        NaT
73289  1729                 NaT        NaT        NaT        NaT        NaT
74104  771                  NaT        NaT        NaT        NaT        NaT
75338  502                  NaT        NaT        NaT        NaT        NaT
       503                  NaT        NaT        NaT        NaT        NaT
76240  1599                 NaT        NaT        NaT        NaT        NaT
       1598                 NaT        NaT        NaT        NaT        NaT
81152  1978                 NaT        NaT        NaT        NaT        NaT
83100  1607                 NaT        NaT        NaT        NaT        NaT
86148  147                  NaT        NaT        NaT        NaT        NaT
90325  1135                 NaT        NaT        NaT        NaT        NaT
90347  145                  NaT        NaT        NaT        NaT        NaT
...                         ...        ...        ...        ...        ...
678819 2020                 NaT        NaT        NaT        NaT        NaT
678927 2023                 NaT        NaT        NaT        NaT        NaT
679171 2025                 NaT        NaT        NaT        NaT        NaT
       2026                 NaT        NaT        NaT        NaT        NaT
679894 2029                 NaT        NaT        NaT        NaT        NaT
681090 2032                 NaT        NaT        NaT        NaT        NaT
681822 2034                 NaT        NaT        NaT        NaT        NaT
682463 2067                 NaT        NaT        NaT        NaT        NaT
682490 2037                 NaT        NaT        NaT        NaT        NaT
682793 2073                 NaT        NaT        NaT        NaT        NaT
683075 2044                 NaT        NaT        NaT        NaT        NaT
683795 2039                 NaT        NaT        NaT        NaT        NaT
684839 2042                 NaT        NaT        NaT        NaT        NaT
686670 2049                 NaT        NaT        NaT        NaT        NaT
       2050                 NaT        NaT        NaT        NaT        NaT
688111 2051                 NaT        NaT        NaT        NaT        NaT
689231 2053                 NaT        NaT        NaT        NaT        NaT
689705 2054                 NaT        NaT        NaT        NaT        NaT
689928 2055                 NaT        NaT        NaT        NaT        NaT
690315 2058                 NaT        NaT        NaT        NaT        NaT
692232 2070                 NaT        NaT        NaT        NaT        NaT
692460 2066                 NaT        NaT        NaT        NaT        NaT
693258 2064                 NaT        NaT        NaT        NaT        NaT
693384 2074                 NaT        NaT        NaT        NaT        NaT
       2075                 NaT        NaT        NaT        NaT        NaT
695642 2076                 NaT        NaT        NaT        NaT        NaT
695814 2078                 NaT        NaT        NaT        NaT        NaT
696301 2089                 NaT        NaT        NaT        NaT        NaT
696624 2082                 NaT        NaT        NaT        NaT        NaT
697295 2081                 NaT        NaT        NaT        NaT        NaT

                     2016-08-11 2016-08-12 2016-08-13 2016-08-14 2016-08-15  \
userid BankAccountId
4685   171                  NaT        NaT        NaT        NaT        NaT
       170                  NaT        NaT        NaT        NaT        NaT
9093   149                  NaT        NaT        NaT        NaT        NaT
10982  1697                 NaT        NaT        NaT        NaT        NaT
17123  1992                 NaT        NaT        NaT        NaT        NaT
22062  1241                 NaT        NaT        NaT        NaT        NaT
23167  1056                 NaT        NaT        NaT        NaT        NaT
23693  653                  NaT        NaT        NaT        NaT        NaT
28126  153                  NaT        NaT        NaT        NaT        NaT
28382  1117                 NaT        NaT        NaT        NaT        NaT
34240  471                  NaT        NaT        NaT        NaT        NaT
34337  834                  NaT        NaT        NaT        NaT        NaT
38874  1156                 NaT        NaT        NaT        NaT        NaT
41916  1392                 NaT        NaT        NaT        NaT        NaT
43733  1254                 NaT        NaT        NaT        NaT        NaT
58688  291                  NaT        NaT        NaT        NaT        NaT
67675  1223                 NaT        NaT        NaT        NaT        NaT
69086  1687                 NaT        NaT        NaT        NaT        NaT
72310  121                  NaT        NaT        NaT        NaT        NaT
73289  1729                 NaT        NaT        NaT        NaT        NaT
74104  771                  NaT        NaT        NaT        NaT        NaT
75338  502                  NaT        NaT        NaT        NaT        NaT
       503                  NaT        NaT        NaT        NaT        NaT
76240  1599                 NaT        NaT        NaT        NaT        NaT
       1598                 NaT        NaT        NaT        NaT        NaT
81152  1978                 NaT        NaT        NaT        NaT        NaT
83100  1607                 NaT        NaT        NaT        NaT        NaT
86148  147                  NaT        NaT        NaT        NaT        NaT
90325  1135                 NaT        NaT        NaT        NaT        NaT
90347  145                  NaT        NaT        NaT        NaT        NaT
...                         ...        ...        ...        ...        ...
678819 2020                 NaT        NaT        NaT        NaT        NaT
678927 2023                 NaT        NaT        NaT        NaT        NaT
679171 2025                 NaT        NaT        NaT        NaT        NaT
       2026                 NaT        NaT        NaT        NaT        NaT
679894 2029                 NaT        NaT        NaT        NaT        NaT
681090 2032                 NaT        NaT        NaT        NaT        NaT
681822 2034                 NaT        NaT        NaT        NaT        NaT
682463 2067                 NaT        NaT        NaT        NaT        NaT
682490 2037                 NaT        NaT        NaT        NaT        NaT
682793 2073                 NaT        NaT        NaT        NaT        NaT
683075 2044                 NaT        NaT        NaT        NaT        NaT
683795 2039                 NaT        NaT        NaT        NaT        NaT
684839 2042                 NaT        NaT        NaT        NaT        NaT
686670 2049                 NaT        NaT        NaT        NaT        NaT
       2050                 NaT        NaT        NaT        NaT        NaT
688111 2051                 NaT        NaT        NaT        NaT        NaT
689231 2053                 NaT        NaT        NaT        NaT        NaT
689705 2054                 NaT        NaT        NaT        NaT        NaT
689928 2055                 NaT        NaT        NaT        NaT        NaT
690315 2058                 NaT        NaT        NaT        NaT        NaT
692232 2070                 NaT        NaT        NaT        NaT        NaT
692460 2066                 NaT        NaT        NaT        NaT        NaT
693258 2064                 NaT        NaT        NaT        NaT        NaT
693384 2074                 NaT        NaT        NaT        NaT        NaT
       2075                 NaT        NaT        NaT        NaT        NaT
695642 2076                 NaT        NaT        NaT        NaT        NaT
695814 2078                 NaT        NaT        NaT        NaT        NaT
696301 2089                 NaT        NaT        NaT        NaT        NaT
696624 2082                 NaT        NaT        NaT        NaT        NaT
697295 2081                 NaT        NaT        NaT        NaT        NaT

                     2016-08-16 2016-08-17 2016-08-18 2016-08-19 2016-08-20  \
userid BankAccountId
4685   171                  NaT        NaT        NaT        NaT        NaT
       170                  NaT        NaT        NaT        NaT        NaT
9093   149                  NaT        NaT        NaT        NaT        NaT
10982  1697                 NaT        NaT        NaT        NaT        NaT
17123  1992                 NaT        NaT        NaT        NaT        NaT
22062  1241                 NaT        NaT        NaT        NaT        NaT
23167  1056                 NaT        NaT        NaT        NaT        NaT
23693  653                  NaT        NaT        NaT        NaT        NaT
28126  153                  NaT        NaT        NaT        NaT        NaT
28382  1117                 NaT        NaT        NaT        NaT        NaT
34240  471                  NaT        NaT        NaT        NaT        NaT
34337  834                  NaT        NaT        NaT        NaT        NaT
38874  1156                 NaT        NaT        NaT        NaT        NaT
41916  1392                 NaT        NaT        NaT        NaT        NaT
43733  1254                 NaT        NaT        NaT        NaT        NaT
58688  291                  NaT        NaT        NaT        NaT        NaT
67675  1223                 NaT        NaT        NaT        NaT        NaT
69086  1687                 NaT        NaT        NaT        NaT        NaT
72310  121                  NaT        NaT        NaT        NaT        NaT
73289  1729                 NaT        NaT        NaT        NaT        NaT
74104  771                  NaT        NaT        NaT        NaT        NaT
75338  502                  NaT        NaT        NaT        NaT        NaT
       503                  NaT        NaT        NaT        NaT        NaT
76240  1599                 NaT        NaT        NaT        NaT        NaT
       1598                 NaT        NaT        NaT        NaT        NaT
81152  1978                 NaT        NaT        NaT        NaT        NaT
83100  1607                 NaT        NaT        NaT        NaT        NaT
86148  147                  NaT        NaT        NaT        NaT        NaT
90325  1135                 NaT        NaT        NaT        NaT        NaT
90347  145                  NaT        NaT        NaT        NaT        NaT
...                         ...        ...        ...        ...        ...
678819 2020                 NaT        NaT        NaT        NaT        NaT
678927 2023                 NaT        NaT        NaT        NaT        NaT
679171 2025                 NaT        NaT        NaT        NaT        NaT
       2026                 NaT        NaT        NaT        NaT        NaT
679894 2029                 NaT        NaT        NaT        NaT        NaT
681090 2032                 NaT        NaT        NaT        NaT        NaT
681822 2034                 NaT        NaT        NaT        NaT        NaT
682463 2067                 NaT        NaT        NaT        NaT        NaT
682490 2037                 NaT        NaT        NaT        NaT        NaT
682793 2073                 NaT        NaT        NaT        NaT        NaT
683075 2044                 NaT        NaT        NaT        NaT        NaT
683795 2039                 NaT        NaT        NaT        NaT        NaT
684839 2042                 NaT        NaT        NaT        NaT        NaT
686670 2049                 NaT        NaT        NaT        NaT        NaT
       2050                 NaT        NaT        NaT        NaT        NaT
688111 2051                 NaT        NaT        NaT        NaT        NaT
689231 2053                 NaT        NaT        NaT        NaT        NaT
689705 2054                 NaT        NaT        NaT        NaT        NaT
689928 2055                 NaT        NaT        NaT        NaT        NaT
690315 2058                 NaT        NaT        NaT        NaT        NaT
692232 2070                 NaT        NaT        NaT        NaT        NaT
692460 2066                 NaT        NaT        NaT        NaT        NaT
693258 2064                 NaT        NaT        NaT        NaT        NaT
693384 2074                 NaT        NaT        NaT        NaT        NaT
       2075                 NaT        NaT        NaT        NaT        NaT
695642 2076                 NaT        NaT        NaT        NaT        NaT
695814 2078                 NaT        NaT        NaT        NaT        NaT
696301 2089                 NaT        NaT        NaT        NaT        NaT
696624 2082                 NaT        NaT        NaT        NaT        NaT
697295 2081                 NaT        NaT        NaT        NaT        NaT

                     2016-08-21 2016-08-22 2016-08-23 2016-08-24 2016-08-25  \
userid BankAccountId
4685   171                  NaT        NaT        NaT        NaT        NaT
       170                  NaT        NaT        NaT        NaT        NaT
9093   149                  NaT        NaT        NaT        NaT        NaT
10982  1697                 NaT        NaT        NaT        NaT        NaT
17123  1992                 NaT        NaT        NaT        NaT        NaT
22062  1241                 NaT        NaT        NaT        NaT        NaT
23167  1056                 NaT        NaT        NaT        NaT        NaT
23693  653                  NaT        NaT        NaT        NaT        NaT
28126  153                  NaT        NaT        NaT        NaT        NaT
28382  1117                 NaT        NaT        NaT        NaT        NaT
34240  471                  NaT        NaT        NaT        NaT        NaT
34337  834                  NaT        NaT        NaT        NaT        NaT

In [312]:
z = y.stack()

In [313]:
z = pd.DataFrame(z)
z = z.reset_index()
z

        userid  BankAccountId    level_2          0
0         4685            171 2016-10-01 2016-10-01
1         4685            171 2016-10-02 2016-10-02
2         4685            171 2016-10-03 2016-10-03
3         4685            171 2016-10-04 2016-10-04
4         4685            171 2016-10-05 2016-10-05
5         4685            171 2016-10-06 2016-10-06
6         4685            171 2016-10-07 2016-10-07
7         4685            171 2016-10-08 2016-10-08
8         4685            171 2016-10-09 2016-10-09
9         4685            171 2016-10-10 2016-10-10
10        4685            171 2016-10-11 2016-10-11
11        4685            171 2016-10-12 2016-10-12
12        4685            171 2016-10-13 2016-10-13
13        4685            171 2016-10-14 2016-10-14
14        4685            171 2016-10-15 2016-10-15
15        4685            171 2016-10-16 2016-10-16
16        4685            171 2016-10-17 2016-10-17
17        4685            171 2016-10-18 2016-10-18
18        4685            171 2016-10-19 2016-10-19
19        4685            171 2016-10-20 2016-10-20
20        4685            171 2016-10-21 2016-10-21
21        4685            171 2016-10-22 2016-10-22
22        4685            171 2016-10-23 2016-10-23
23        4685            171 2016-10-24 2016-10-24
24        4685            171 2016-10-25 2016-10-25
25        4685            171 2016-10-26 2016-10-26
26        4685            171 2016-10-27 2016-10-27
27        4685            171 2016-10-28 2016-10-28
28        4685            171 2016-10-29 2016-10-29
29        4685            171 2016-10-30 2016-10-30
...        ...            ...        ...        ...
136083  697295           2081 2017-07-02 2017-07-02
136084  697295           2081 2017-07-03 2017-07-03
136085  697295           2081 2017-07-04 2017-07-04
136086  697295           2081 2017-07-05 2017-07-05
136087  697295           2081 2017-07-06 2017-07-06
136088  697295           2081 2017-07-07 2017-07-07
136089  697295           2081 2017-07-08 2017-07-08
136090  697295           2081 2017-07-09 2017-07-09
136091  697295           2081 2017-07-10 2017-07-10
136092  697295           2081 2017-07-11 2017-07-11
136093  697295           2081 2017-07-12 2017-07-12
136094  697295           2081 2017-07-13 2017-07-13
136095  697295           2081 2017-07-14 2017-07-14
136096  697295           2081 2017-07-15 2017-07-15
136097  697295           2081 2017-07-16 2017-07-16
136098  697295           2081 2017-07-17 2017-07-17
136099  697295           2081 2017-07-18 2017-07-18
136100  697295           2081 2017-07-19 2017-07-19
136101  697295           2081 2017-07-20 2017-07-20
136102  697295           2081 2017-07-21 2017-07-21
136103  697295           2081 2017-07-22 2017-07-22
136104  697295           2081 2017-07-23 2017-07-23
136105  697295           2081 2017-07-24 2017-07-24
136106  697295           2081 2017-07-25 2017-07-25
136107  697295           2081 2017-07-26 2017-07-26
136108  697295           2081 2017-07-27 2017-07-27
136109  697295           2081 2017-07-28 2017-07-28
136110  697295           2081 2017-07-29 2017-07-29
136111  697295           2081 2017-07-30 2017-07-30
136112  697295           2081 2017-07-31 2017-07-31

[136113 rows x 4 columns]

In [314]:
z = z.sort_values(['userid','BankAccountId'],ascending = True)

In [315]:
#z = z.drop(0,axis=1)

In [316]:
z =z.rename(columns = {"level_2": "TransDate"})

In [317]:
z[z['userid']==697295]

        userid  BankAccountId  TransDate          0
136021  697295           2081 2017-05-01 2017-05-01
136022  697295           2081 2017-05-02 2017-05-02
136023  697295           2081 2017-05-03 2017-05-03
136024  697295           2081 2017-05-04 2017-05-04
136025  697295           2081 2017-05-05 2017-05-05
136026  697295           2081 2017-05-06 2017-05-06
136027  697295           2081 2017-05-07 2017-05-07
136028  697295           2081 2017-05-08 2017-05-08
136029  697295           2081 2017-05-09 2017-05-09
136030  697295           2081 2017-05-10 2017-05-10
136031  697295           2081 2017-05-11 2017-05-11
136032  697295           2081 2017-05-12 2017-05-12
136033  697295           2081 2017-05-13 2017-05-13
136034  697295           2081 2017-05-14 2017-05-14
136035  697295           2081 2017-05-15 2017-05-15
136036  697295           2081 2017-05-16 2017-05-16
136037  697295           2081 2017-05-17 2017-05-17
136038  697295           2081 2017-05-18 2017-05-18
136039  697295           2081 2017-05-19 2017-05-19
136040  697295           2081 2017-05-20 2017-05-20
136041  697295           2081 2017-05-21 2017-05-21
136042  697295           2081 2017-05-22 2017-05-22
136043  697295           2081 2017-05-23 2017-05-23
136044  697295           2081 2017-05-24 2017-05-24
136045  697295           2081 2017-05-25 2017-05-25
136046  697295           2081 2017-05-26 2017-05-26
136047  697295           2081 2017-05-27 2017-05-27
136048  697295           2081 2017-05-28 2017-05-28
136049  697295           2081 2017-05-29 2017-05-29
136050  697295           2081 2017-05-30 2017-05-30
...        ...            ...        ...        ...
136083  697295           2081 2017-07-02 2017-07-02
136084  697295           2081 2017-07-03 2017-07-03
136085  697295           2081 2017-07-04 2017-07-04
136086  697295           2081 2017-07-05 2017-07-05
136087  697295           2081 2017-07-06 2017-07-06
136088  697295           2081 2017-07-07 2017-07-07
136089  697295           2081 2017-07-08 2017-07-08
136090  697295           2081 2017-07-09 2017-07-09
136091  697295           2081 2017-07-10 2017-07-10
136092  697295           2081 2017-07-11 2017-07-11
136093  697295           2081 2017-07-12 2017-07-12
136094  697295           2081 2017-07-13 2017-07-13
136095  697295           2081 2017-07-14 2017-07-14
136096  697295           2081 2017-07-15 2017-07-15
136097  697295           2081 2017-07-16 2017-07-16
136098  697295           2081 2017-07-17 2017-07-17
136099  697295           2081 2017-07-18 2017-07-18
136100  697295           2081 2017-07-19 2017-07-19
136101  697295           2081 2017-07-20 2017-07-20
136102  697295           2081 2017-07-21 2017-07-21
136103  697295           2081 2017-07-22 2017-07-22
136104  697295           2081 2017-07-23 2017-07-23
136105  697295           2081 2017-07-24 2017-07-24
136106  697295           2081 2017-07-25 2017-07-25
136107  697295           2081 2017-07-26 2017-07-26
136108  697295           2081 2017-07-27 2017-07-27
136109  697295           2081 2017-07-28 2017-07-28
136110  697295           2081 2017-07-29 2017-07-29
136111  697295           2081 2017-07-30 2017-07-30
136112  697295           2081 2017-07-31 2017-07-31

[92 rows x 4 columns]

In [320]:
final = pd.merge(df_6,z,on = ['userid','BankAccountId','TransDate'],how = 'outer')

In [230]:
final['Day_start_Balance'] = final['Day_start_Balance'].fillna(0)
final['Day_end_Balance'] = final['Day_end_Balance'].fillna(0)

In [105]:
#final.to_csv(r'N:\CLIX\Perfios\Monthly_avg_bal\Final_avg_mon_balance.csv',index = False)

In [116]:
#final_1 = pd.merge(final,df[['userid','TransDate','BankAccountId','startdate','enddate']],how = 'left',on = ['userid','TransDate','BankAccountId'])

In [324]:
final[(final['userid']== 697295)]# & (final['TransDate']== '2017-05-20')]

,userid,TransDate,BankAccountId,BankNarrationtId_start,Day_start_Balance,BankNarrationtId_end,Day_end_Balance,0
57229,697295,2017-05-20,2081,187878.0,12420.0,187879.0,5420.0,2017-05-20

In [322]:
df_6[df_6['userid']== 697295]

,userid,TransDate,BankAccountId,BankNarrationtId_start,Day_start_Balance,BankNarrationtId_end,Day_end_Balance
57226,697295,2017-05-01,2081,187868,11083.21,187870,60.21
57227,697295,2017-05-04,2081,187871,0.00,187871,0.00
57228,697295,2017-05-19,2081,187872,40613.00,187877,22420.00
57229,697295,2017-05-20,2081,187878,12420.00,187879,5420.00
57230,697295,2017-05-22,2081,187880,1420.00,187882,0.00
57231,697295,2017-05-31,2081,187883,1246.00,187888,37.00
57232,697295,2017-06-01,2081,187889,24971.00,187896,8471.00
57233,697295,2017-06-02,2081,187897,471.00,187897,471.00
57234,697295,2017-06-03,2081,187898,68.50,187898,68.50
57235,697295,2017-06-05,2081,187899,0.00,187899,0.00
57236,697295,2017-06-14,2081,187900,41034.00,187908,21522.71
57237,697295,2017-06-15,2081,187909,1522.71,187910,1322.71
57238,697295,2017-06-16,2081,187911,99.71,187912,49.71
57239,697295,2017-06-29,2081,187913,60.71,187913,60.71
57240,697295,2017-06-30,2081,187914,26329.71,187915,329.71
57241,697295,2017-07-03,2081,187916,129.71,187918,9.71
57242,697295,2017-07-06,2081,187919,29.71,187919,29.71
57243,697295,2017-07-11,2081,187920,31.21,187920,31.21
57244,697295,2017-07-19,2081,187921,281.21,187921,281.21
57245,697295,2017-07-20,2081,187922,31.21,187922,31.21
57246,697295,2017-07-28,2081,187923,6.21,187925,1.71

In [325]:
final = final.sort_values(['userid','BankAccountId', 'TransDate'],ascending = True)

In [328]:
final.to_csv(r'N:\CLIX\Perfios\Monthly_avg_bal\Final_avg_mon_balance.csv',index = 'False')